<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JSON Schema Coverage</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">

  <style>
    .j-row {
      background: rgb(249,249,251);
      border-left: 1px solid rgb(196,196,211);
      border-right: 1px solid rgb(196,196,211);
      border-bottom: 1px solid rgb(196,196,211);

      cursor: pointer;
    }
    .j-row-hover:hover {
      background: rgb(231,231,237);
    }
    .j-row-deep {
      background: rgb(231,231,237);
    }
    .j-row:first-child {
      border-top: 1px solid rgb(196,196,211);
    }
    .j-cell {
    }
    .j-cell:not(:first-child) {
      border-left: 1px solid rgb(196,196,211);
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">JSON Schema Coverage</a>
  </nav>

  <div class="container">
    <h2>Result</h2>
    <div>
      <div class="row j-row">
        <div class="col-9 j-cell"><b>id</b></div>
        <div class="col-1 j-cell"><b>target keyword</b></div>
        <div class="col-1 j-cell"><b>success coverage</b></div>
        <div class="col-1 j-cell"><b>failure coverage</b></div>
      </div>
      <% for (let i=0; i<results.length; i++) { %>
        <% const r = results[i] %>
        <div class="row j-row j-row-hover collapsed" data-toggle="collapse" data-target="#detail-<%= i %>" aria-expanded="true" aria-controls="detail-<%= i %>">
          <div class="col-9 j-cell" style="overflow:auto;"><%= r.id %></div>
          <div class="col-1 j-cell text-right"><%= r.target %></div>
          <% const successState = r.successCoverage > 0.5 ? 'success' : r.successCoverage > 0.25 ? 'warning' : 'danger' %>
          <div class="col-1 j-cell text-right font-weight-bold text-<%= successState %>"><%= r.successCoverage.toFixed(3) %></div>
          <% const failureState = r.failureCoverage > 0.5 ? 'success' : r.failureCoverage > 0.25 ? 'warning' : 'danger' %>
          <div class="col-1 j-cell text-right font-weight-bold text-<%= failureState %>"><%= r.failureCoverage.toFixed(3) %></div>
        </div>
        <div id="detail-<%= i %>" class="collapse row j-row" style="padding:16px;">
          <div class="container">
          <div class="row j-row j-row-deep">
            <div class="col-10 j-cell">pointer</div>
            <div class="col-1 j-cell">success case</div>
            <div class="col-1 j-cell">fail case</div>
          </div>

          <% for (const detail of r.details) { %>
            <div class="row j-row j-row-deep">
              <div class="col-10 j-cell"><%= detail.pointer %></div>
              <% if (detail.success) { %>
                <div class="col-1 j-cell"><span class="badge badge-success">OK</span></div>
              <% } else { %>
                <div class="col-1 j-cell"><span class="badge badge-danger">NG</span></div>
              <% } %>
              <% if (detail.failure) { %>
                <div class="col-1 j-cell"><span class="badge badge-success">OK</span></div>
              <% } else { %>
                <div class="col-1 j-cell"><span class="badge badge-danger">NG</span></div>
              <% } %>
            </div>
          <% } %>
          </div>
        </div>
      <% } %>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
</body>

</html>
